/* Text classes */
h1, h2, h3, h4 {
	color: #8b0000;
}

/*TOC's font color*/
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #FFFFFF;
    background-color: #8b0000;
    border-color: #8b0000;
}

/*Make font size bigger*/
p {
	font-size: 16px;
}

/*Make font size of li, .li-content and li::marker bigger*/
/*Note: li::marker (the pseudo-element that enable control over the bullet
symbol auto-created from the browser must be supported by the browser used*/
li, .li-content, li::marker {
	font-size: 16px;
}